version: "3.4"
services:
  splunk:
    image: amp4e/amp4e_splunk_events_input:latest
    build: .
    volumes:
      - .:/opt/splunk/etc/apps/amp4e_events_input
      - /opt/splunk/etc/apps/amp4e_events_input/.git
    environment:
      - SPLUNK_HOME=/opt/splunk
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=Changeme123!
      - DEBUG=true
    ports:
      - "8000:8000"
      - "8089:8089"
