<div id="error-message" class="hide alert alert-danger">
    <strong>Warning!</strong>
    <span class="hide empty-conf"> It appears your configuration is incomplete, so you will not be able to create
        any inputs. Please update your <a class="alert-link" href="setup_amp4e_events_input">configuration</a>.</span>
    <span class="hide wrong-conf"> We couldn’t retrieve the information from API with provided credentials.
        Please make sure the API host is accessible or <a class="alert-link" href="setup_amp4e_events_input">re-configure</a>
        the input with correct credentials.</span>
</div>

<form>
  <div class="control-group input_name">
    <label class="control-label">
      Name
      <span class="required">*</span>
    </label>
    <div class="controls">
      <input type="text" name="name"/>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group input_index">
    <label class="control-label">
      Index
    </label>
    <div class="controls">
      <select id="splunkIndexes" name="index"></select>
      <span class="help-inline"></span>
      <span class="help-block">In which index would you like the events to appear?</span>
    </div>
  </div>

  <fieldset>
    <legend>Stream Settings</legend>

    <div class="control-group stream_name">
      <label class="control-label">
        Stream Name
        <span class="required">*</span>
      </label>
      <div class="controls">
        <input type="text" name="stream_name"/>
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group stream_event_types">
      <label class="control-label">
        Event Types
        <span class="required">*</span>
      </label>
      <div class="controls">
        <select name="event_types" multiple="multiple"></select>
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group stream_groups">
      <label class="control-label">Groups</label>
      <div class="controls">
        <select name="groups" multiple="multiple"></select>
        <span class="help-inline"></span>
      </div>
    </div>
  </fieldset>

  <button href="#" class="btn btn-primary" id="save-changes">Save</button>
</form>
