<form>
  <fieldset>
    <legend>AMP for Endpoints API Access Configuration</legend>

    <div class="control-group api_host">
        <label class="control-label">
          AMP for Endpoints API Host
          <span class="required">*</span>
        </label>
        <div class="controls">
            <input type="text" name="api_host" placeholder="api.amp.cisco.com"/>
            <span class="help-inline"></span>
            <span class="help-block">
                Enter the address of the Cisco AMP for Endpoints API Server that the application will access for managing event streams. Please refer to the AMP for Endpoints API documentation for the correct hostname
            </span>
        </div>
    </div>

    <div class="control-group api_id">
        <label class="control-label">
          API Client ID
          <span class="required">*</span>
        </label>
        <div class="controls">
            <input type="text" name="api_id"/>
            <span class="help-inline"></span>
            <span class="help-block">Enter the 3rd Party API Client ID provided by AMP for Endpoints. Please note that your API Client must have read and write scope</span>
        </div>
    </div>

    <div class="control-group api_key">
        <label class="control-label">
          API Key
          <span class="required">*</span>
        </label>
        <div class="controls">
            <input type="text" name="api_key"/>
            <span class="help-inline"></span>
            <span class="help-block">Enter the secret API key</span>
        </div>
    </div>
  </fieldset>

  <button href="#" class="btn btn-primary" id="save-config">Save Configuration</button>
</form>
