#createInputButton {
  margin: 10px 0;
}

#inputs-table {
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;
}

#inputs-table td {
  word-wrap: break-word;
}

#inputs-table .icon-alert {
  font-size: medium;
  color: #d6563c;
  position: absolute;
  left: 14px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger .alert-link {
  color: #843534;
  font-weight: 700;
}

.btn-danger:hover {
  background-image: none;
  border-color: #ac2925;
}

.stream-divider {
  margin: 10px -10px;
  border: 10px solid #eee;
}
