form .control-group input {
  width: 500px;
}

form .control-group select,
form .control-group .select2-container {
  width: 514px;
}

form .btn-primary .icon-clock {
  font-size: 14px;
  margin-right: 6px;
}

form .saving {
  display: none;
  margin-left: 10px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger .alert-link {
  color: #843534;
  font-weight: 700;
}

.select2-container .select2-choices {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select2-container .select2-choices {
  max-height: 160px;
  overflow-y: scroll;
}
